<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test_home page</title>
</head>
<body>
    <h4>Test_home page</h4>
    <div>
        <form name='input_info' action="final" method="get">

            <label>character_name</label> <input type="text" name ="character_name"><br>
            <label>character_age</label> <input type="text" name ="character_age"><br>
            <label>character_gender</label> <input type="text" name ="character_gender"><br>
            <label>character_personality</label> <input type="text" name ="character_personality"><br>

            <label>listener_age</label> <input type="text" name ="listener_age"><br>
            <label>listener_gender</label> <input type="text" name ="listener_gender"><br>

            <label>detail_mood</label> <input type="text" name ="detail_mood"><br>
            <label>detail_keyword</label> <input type="text" name ="detail_keyword"><br>
            <label>detail_length</label> <input type="text" name ="detail_length"><br>


<!--            <button type="submit">submit</button>-->
        </form>
        <a href="#content" onclick="document.forms['input_info'].submit();">here</a>

    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>content</h2>
    <select>
        <div id="content">

        </div>
    </select>


</body>
</html>